.selected {
  background-color: pink;
}

.player-button {
  padding: 10px;
  outline: steelblue;
  width: 50px;
  height: 50px;
  outline: double;
  outline-color: steelblue;
  text-align: center;
  margin: 10px;
}

.button-holder {
  display: inline-flex;
}

.enter-player-form-submit {
  padding: 5px;
  background-color: aquamarine;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}
